/***************	common style    ***************/
html {
	font-size: 15px;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
}
body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
	display: block;
	color: black;
	/* height: 100%; */
}


.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.sprites-b {
	background-image: url(../img/sprites-1.9.2.4c54885a.png);
	background-size: 308px 250px;
	box-sizing: border-box;
	background-clip: content-box;
	/*width: 30px;
	height: 36px;
	padding: 6px 3px;*/
}
/***************    common style end   ***************/


/****** top header (logo, searchbox and question button)  start ******/
.zh-top {
	/*on normal condition*/
	position: fixed;
	z-index: 999;
	width: 100%;
	min-width: 200px;
	height: 45px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #0766C5;
	background: -webkit-linear-gradient(#086DD4, #055DB6);
	background: linear-gradient(#086DD4, #055DB6);
	border-bottom: 1px solid #055DB6;
	box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}
.zh-top-home-link {
	width: 61px;
	height: 31px;
	margin-left: 6px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	background-image: url(../img/new_logo@2x.9187366b.png);
	background-size: 61px 31px;
	background-repeat: no-repeat;
	text-indent: -999px;
}
.zh-top-search {
	/* box-sizing: border-box; */
	height: 30px;
	margin-left: 10px;
	margin-right: 6px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #E1EAF2;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.zh-top-search-input {
	width: 0;
	/* height: 17px; */
	line-height: 17px;
	margin-left: 10px;
	/* padding: 7px 0; */
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	background: transparent;
	border: none;
	font-size: 0.9rem;
}
.zh-top-search-input:focus {
	outline: none;
}
.zh-top-search-btn {
	box-sizing: border-box;
	width: 1.875rem;
	height: 1.875rem;
	padding: 0.5rem;
	border: none;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	background-color: transparent;
	background-image: url(../img/sprites@2x.auto.1cc5b15c.png);
	background-size: 4.5rem 4.375rem;
	background-position: -2.25rem -0.5rem;
	background-clip: content-box;
	cursor: pointer;
}
.zh-top-search-btn:focus {
	outline: none;
}
.zh-top-add-question {
	box-sizing: border-box;
	width: 62px;
	height: 32px;
	padding: 0;
	margin-right: 6px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	color: white;
	background-color: #0D76E1;
	border: 1px solid #045bb2;
	border-radius: 3px;
	font-family: monospace;
	font-size: 1.1em;
	word-wrap: normal;
	box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.searching .zh-top-search{
	background-color: white;
}
.searching .zh-top-add-question {
	/*searching, searchInput got focus*/
    width: 0;
    opacity: 0;
}
/**********************   top header end    **********************/


/**********************   navigator start    **********************/
.zh-nav {
	position: relative;
	z-index: 99;
	top: 45px;
	margin-bottom: 46px;
	/* height: 2.25rem; */
	background-color: #F3F3F3;
}
.zh-nav-menu {
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	/* border-bottom: 1px solid #DFDFDF; */
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}
.zh-nav-menu-li {
	position: relative;
	box-sizing: border-box;
	width: 20%;
	height: 36px;
	line-height: 36px;
	flex: 1 1 auto;
	list-style: none;
}
.zh-nav-user {
	position: absolute;
	z-index: 99;
	top: 37px;
	left: -50%;
	width: 150%;
	padding: 0;
	background-color: #F3F3F3;
	/* border: 2px solid; */
	border-radius: 0 0 0 6px;
}
.zh-nav-user.show .zh-nav-user-li {
	box-sizing: border-box;
	padding-left: 10%;
	line-height: 45px;
	display: block;
	border: none;
	list-style: none;
	text-align: left;
	border-bottom: 1px solid hsla(0,0%,90%,0.7);
}
.zh-nav-user-li {
	display: none;
}
.zh-nav-msg {
	/*on normal condition, hide the message menu*/
	display: none;
}
.zh-nav-msg.show {
	/*show */
	display: block;
	position: absolute;
	z-index: 99;
	box-sizing: border-box;
	background-color: white;
	border-bottom: 1px solid #DFDFDF;
	width: 100%;
	padding: 0 5px;
}
.zh-nav-msg-sort {
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #DFDFDF;
	/* box-shadow: 0 0px 1px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15); */
	text-align: center;
}
.nav-msg-sort {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	vertical-align: middle;
	cursor: pointer;
	flex: 1 1 auto;
}
.nav-msg-sort.user {
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
}
.nav-msg-sort i{
	display: inline-block;
	width: 24px;
	height: 26px;
	margin-top: 3px;
}
.sprites-b {
	background-image: url(../img/sprites-1.9.2.4c54885a.png);
	background-size: 308px 250px;
	box-sizing: border-box;
	background-clip: content-box;
}
.msg-icon i{
	background-position: -94px -60px;
}
.user-icon i{
	background-position: -122px -60px;
}
.thk-icon i{
	background-position: -150px -60px;
}
.current.msg-icon i{
	background-position: -94px -81px;
}
.current.user-icon i{
	background-position: -122px -82px;
}
.current.thk-icon i{
	background-position: -150px -82px;
}
.zh-nav-msg-ctn {
	box-sizing: border-box;
	padding: 7px 5px;
	border-bottom: 1px solid #DFDFDF;
	line-height: 1.8;
}
.zh-nav-msg-set {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #DFDFDF;
	flex-flow: row wrap;
}
.zh-nav-msg-set a {
	color: #999;
}
.set-icon {
	width: 28px;
	height: 36px;
	padding: 6px 3px;
	display: inline-block;
	vertical-align: middle;
	background-position: -48px -138px;
}
/**********************   navigator end    **********************/


/**********************   main start   **********************/
.zh-main {
	/* box-sizing: border-box; */
	position: relative;
	/* margin-top: 10px; */
	padding: 0 10px;
	/* background-color: aquamarine; */
}
.zh-main .normal {
	display: initial;
	color: #259;
	font-size: 1.15em;
}
.zh-main-set {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #DFDFDF;
	/* flex-flow: row nowrap; */
}
.zh-main-set > h2 {
	color: #666;
	margin: 0;
	font-size: 1.2rem;
	/* line-height: 1.2rem; */
}
/*.zh-main-set:last-child {
	padding-right: 5px;
}*/
.sprites-b {
	background-image: url(../img/sprites-1.9.2.4c54885a.png);
	background-size: 308px 250px;
	box-sizing: border-box;
	background-clip: content-box;
	/*width: 30px;
	height: 36px;
	padding: 6px 3px;*/
}
.set-icon {
	width: 28px;
	height: 36px;
	padding: 6px 3px;
	display: inline-block;
	vertical-align: middle;
	background-position: -48px -138px;
}
.list-icon {
	width: 25px;
	height: 36px;
	padding: 6px 0;
	display: inline-block;
	vertical-align: middle;
	background-position: -70px -78px;
}
.zh-main-ctn {
	padding: 6px 0;
	border-bottom: 1px solid #EEEEEE;
}
.zh-main-ctn-sort {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #999;
}
.zh-ctn-sort-user {
	width: 22px;
	height: 22px;
	display: inline-block;
	background-image: url(../img/favicon.ico);
	background-size: 100% 100%;
	background-position: 0 0;
	box-sizing: border-box;
	background-clip: content-box;
}

.zh-main-ctn-question > h2 {
	font-size: 1rem;
	margin: 5px 0;
}
.zh-main-ctn-answer {
	
}
.zh-main-answer-summary {
	padding-top: 10px;
	line-height: 1.7;
	word-break: break-word;
}
.zh-main-answer-summary img{
	float: left;
	width: 200px;
	height: 110px;
	margin: 5px;
	margin: 1px 10px 5px 0;
	border-radius: 8px;
}

.zh-main-answer-operate {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	margin: 5px 0;
}
.zh-main-answer-operate a {
	margin-right: 6px;
	flex: 0 0 auto;
	color: #999;
	line-height: 1.7;
}

.zh-answer-agree {
	color: #698ebf;
	background-color: rgb(225, 239, 247);
	border-radius: 5px;
	padding-left: 6px;
	margin-left: 0;
	margin-right: 6px;
}

.agree-icon {
	display: inline-block;
	vertical-align: middle;
	background-position: 4px -166px;
	width: 13px;
	height: 16px;
	padding: 2px;
}
.follow-icon {
	display: inline-block;
	vertical-align: middle;
	background-position: -94px -19px;
	height: 16px;
	width: 15px;
	padding: 0px;
	margin-left: 5px;
	margin-right: 2px;
	margin-bottom: 3px;
}
.comment-icon {
	display: inline-block;
	vertical-align: middle;
	background-position: -25px -19px;
	width: 16px;
	height: 16px;
	padding: 0;
	margin-bottom: 4px;
	margin-right: 1px;
}
/*.thank-icon {
	display: inline-block;
	vertical-align: middle;
	background-position: -66px -78px;
}*/
.zh-main-answer-operate-dot {
	width: auto;
	color: #999;
	font-size: 15px;
	font-weight: bolder;
	line-height: 18px;
	/* padding: 0 3px; */
	margin-right: 6px;
	vertical-align: middle;
	font-family: Arial;
}


